<nav class="navbar navbar-expand-lg fixed-top">
    <img src="../../../favicon.ico" class="logo ml-5 clickable" (click)="refresh()" alt="Tubekids">
    <h4 class="brand ml-3 mb-0 clickable" (click)="refresh()">Tubekids</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left Side Of Navbar -->
        <ul class="navbar-nav mr-auto">

        </ul>

        <form class="form-inline my-2 my-lg-0 mr-lg-auto form" [formGroup]="filterForm" (ngSubmit)="search()">
            <input class="form-control mr-sm-2 ml-lg-5 searchBar" type="text" placeholder="Search" aria-label="Search" formControlName="filter" autofocus>
            <button class="btn my-2 my-sm-0 searchButton" type="submit"><fa-icon [icon]="['fas', 'search']"></fa-icon></button>
        </form>

        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav mr-5">
            <li class="nav-item dropdown mr-5">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <button class="dropdown-item btn btn-link" (click)="logout()">Logout</button>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="mainContent mt-5">
    <div class="gridContainer mt-5 ml-2">
        <div class="card" id={{video._id}} *ngFor="let video of videos">
            <iframe class="card-img-top" width="600" height="210" [src]="video.url" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
            <div class="card-body clickable">
                <label class="col-form-label clickable">{{video.name}}</label>
            </div>
        </div>
    </div>
</div>