:host {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-color: #2D2B38;
}

.navbar {
    background-color: #3A3846;
}

.form {
    width: 50%;
}

.searchBar {
    background-color: #2D2B38;
    width: 60%;
    border-color: #696776;
    color: white;
}

.searchButton {
    background-color: #474554;
    border-color: #474554;
    color: #ACA9BB;
    width: 10%;
}

.nav-link,
.dropdown-item,
.brand,
.heading {
    color: white;
}

.dropdown-item:hover {
    color: white;
    background-color: #2D2B38;
}

.dropdown-item:focus {
    background-color: #2D2B38;
}

.dropdown-menu {
    background-color: #3A3846;
}

.logo {
    position: relative;
    height: 37px;
}

.mainContent {
    position: absolute;
    top: 5.5%;
    left: 6.4%;
    height: 100%;
    width: 100%;
    max-width: 1650px;
    background-size: cover;
    background-attachment: scroll;
    background-color: #2D2B38;
}

.gridContainer {
    width: 100%;
    max-width: 1900px;
    background-size: cover;
    background-attachment: scroll;
    background-color: #2D2B38;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    align-self: center;
}

.card {
    background-color: #2D2B38;
    color: white;
    width: 100%;
    display: inline-block;
}

.clickable {
    cursor: pointer;
}