<nav class="navbar navbar-expand-lg fixed-top">
    <img src="../../../favicon.ico" class="logo ml-5 clickable" (click)="home()" alt="Tubekids">
    <h4 class="brand ml-3 mb-0 clickable" (click)="home()">Tubekids</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left Side Of Navbar -->
        <ul class="navbar-nav mr-auto">

        </ul>

        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav mr-5">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.name}} {{user.lastname}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <button class="dropdown-item" (click)="refresh()">My profile</button>
                    <button class="dropdown-item" (click)="refresh()">Settings</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item btn btn-link" (click)="logout()">Logout</button>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <button class="delete btn btn-warning mt-5 mb-5" data-toggle="modal" data-target="#confirmDel">Delete account</button>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

        <div class="form-group row justify-content-center">
            <div class="col-md-9">
                <label class="col-form-label">E-mail</label>
                <input type="email" formControlName="email" class="form-control" required autocomplete="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autofocus>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">E-mail is required</div>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-md-9">
                <label class="col-form-label">Name</label>
                <input type="text" formControlName="name" class="form-control" required autocomplete="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-md-9">
                <label class="col-form-label">Lastname</label>
                <input type="text" formControlName="lastname" class="form-control" required autocomplete="lastname" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                    <div *ngIf="f.lastname.errors.required">Lastname is required</div>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-md-9">
                <label for="countriesSelect">Country</label>
                <select class="form-control" id="countrySelect" formControlName="country" required autocomplete="contry" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                    <option>Costa Rica</option>
                    <option>United States</option>
                    <option>Canada</option>
                    <option>Argentina</option>
                    <option>Nicaragua</option>
                    <option>Panama</option>
                    <option>Brazil</option>
                    <option>Mexico</option>
                    <option>Colombia</option>
                    <option>Honduras</option>
                </select>
                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                    <div *ngIf="f.country.errors.required">Country is required</div>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-md-9">
                <label class="col-form-label">Birthday</label>
                <input type="text" placeholder="mm/dd/yyyy" formControlName="birthday" class="form-control" required autocomplete="birthday" [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }">
                <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
                    <div *ngIf="f.birthday.errors.required">Birthday is required</div>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-md-9">
                <label class="col-form-label">Phone number</label>
                <input type="tel" formControlName="phoneNumber" class="form-control" required autocomplete="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-md-9">
                <label class="col-form-label">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary col-md-12">Save changes</button>
                <span class="badge badge-danger" *ngIf="error">{{error}}</span>
                <span class="badge badge-success" *ngIf="message">{{message}}</span>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="confirmDel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete account?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Woul you like to delete your account?</h5>
                <h5>All data related to your profile will be deleted.</h5>
                <label class="col-form-label">(Personal data, videos and kids)</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="delUser()" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>