<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="w-100"></div>
            <div class="card mt-5 mb-5" style="width: 25rem">

                <div class="card-body mt-1">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group row justify-content-center">
                            <div class="col-md-4">
                                <div class="row">
                                    <h4 class="card-title">
                                        Tubekids
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-3">
                                <div class="row">
                                    <h5 class="card-title">
                                        Sign up
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-9">
                                <label class="col-form-label">E-mail</label>
                                <input type="email" formControlName="email" class="form-control" required autocomplete="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autofocus>
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">E-mail is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-9">
                                <label class="col-form-label">Name</label>
                                <input type="text" formControlName="name" class="form-control" required autocomplete="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">Name is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-9">
                                <label class="col-form-label">Lastname</label>
                                <input type="text" formControlName="lastname" class="form-control" required autocomplete="lastname" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                                <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                    <div *ngIf="f.lastname.errors.required">Lastname is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-9">
                                <label for="countriesSelect">Country</label>
                                <select class="form-control" id="countrySelect" formControlName="country" required autocomplete="contry" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                                    <option>Costa Rica</option>
                                    <option>United States</option>
                                    <option>Canada</option>
                                    <option>Argentina</option>
                                    <option>Nicaragua</option>
                                    <option>Panama</option>
                                    <option>Brazil</option>
                                    <option>Mexico</option>
                                    <option>Colombia</option>
                                    <option>Honduras</option>
                                </select>
                                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                    <div *ngIf="f.country.errors.required">Country is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-9">
                                <label class="col-form-label">Birthday</label>
                                <input type="date" formControlName="birthday" class="form-control" required autocomplete="birthday" [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }">
                                <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
                                    <div *ngIf="f.birthday.errors.required">Birthday is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-9">
                                <label class="col-form-label">Phone number</label>
                                <input type="tel" formControlName="phoneNumber" class="form-control" required autocomplete="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
                                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                                    <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-9">
                                <label class="col-form-label">Password</label>
                                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-primary col-md-12">Register</button>
                                <span class="badge badge-danger" *ngIf="error">{{error}}</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <div class="row justify-content-center">
                        <label class="col-form-label">Do you have a Tubekids account?</label>
                        <button class="btn btn-link" (click)="loginVisible()">Sign in!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>