<nav class="navbar">
    <a class="navbar-brand"></a>
    <form class="form-inline mr-5">
        <button type="button" class="btn btn-link nav-btn" (click)="parentsLogin()">Parents login</button>
    </form>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="w-100 h-50"></div>
            <div class="card" style="width: 25rem">

                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group row justify-content-center">
                            <div class="col-md-4">
                                <div class="row">
                                    <h4 class="card-title">
                                        Tubekids
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-3">
                                <div class="row">
                                    <h5 class="card-title">
                                        Sign in
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-9">
                                <label class="col-form-label">Username</label>
                                <input type="text" formControlName="username" class="form-control" required autocomplete="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" autofocus (click)="error = ''">
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">Username is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-9">
                                <label class="col-form-label">
                                    Pin 
                                <label class="col-form-label text-muted mt-1">(Pin must be six digits long)</label>
                                </label>
                                <input id="pin" type="password" maxlength="6" formControlName="pin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pin.errors }" (click)="error = ''">
                                <div *ngIf="submitted && f.pin.errors" class="invalid-feedback">
                                    <div *ngIf="f.pin.errors.required">Pin is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-primary col-md-12">Login</button>
                                <span class="badge badge-danger" *ngIf="error">{{error}}</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>