<nav class="navbar navbar-expand-lg fixed-top">
    <img src="../../../favicon.ico" class="logo ml-5 clickable" (click)="refresh()" alt="Tubekids">
    <h4 class="brand ml-3 mb-0 clickable" (click)="refresh()">Tubekids</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left Side Of Navbar -->
        <ul class="navbar-nav mr-auto">

        </ul>

        <form class="form-inline my-2 my-lg-0 mr-lg-auto form" [formGroup]="filterForm" (ngSubmit)="search()">
            <input class="form-control mr-sm-2 ml-lg-5 searchBar" type="text" placeholder="Search" aria-label="Search" formControlName="filter" autofocus>
            <button class="btn my-2 my-sm-0 searchButton" type="submit"><fa-icon [icon]="['fas', 'search']"></fa-icon></button>
        </form>

        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav mr-5">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.name}} {{user.lastname}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <button class="dropdown-item" (click)="edit()">My profile</button>
                    <button class="dropdown-item" (click)="refresh()">Settings</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item btn btn-link" (click)="logout()">Logout</button>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container sidebar">
    <h5 class="heading mb-3">My kids</h5>
    <button class="dropdown-item btn btn-link" data-toggle="modal" data-target="#addKids"><fa-icon [icon]="['fas', 'plus']"></fa-icon> Add</button>
    <div class="container kidsContainer">
        <button class="dropdown-item btn btn-link kidBtn" (click)="kidDetails(kid._id)" *ngFor="let kid of kids"><fa-icon [icon]="['fas', 'user']"></fa-icon> {{kid.fullName}}</button>
    </div>
</div>
<div class="container mainContent mt-5">
    <button class="dropdown-item addVideo mt-1 mb-3 btn btn-link" data-toggle="modal" data-target="#addVideos"><fa-icon [icon]="['fas', 'plus']"></fa-icon> Add new video</button>
    <div class="container gridContainer mt-5 ml-2">
        <div class="card" *ngFor="let video of videos">
            <iframe class="card-img-top" width="600" height="210" [src]="video.url" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
            <div class="card-body clickable" (click)="videoDetails(video._id)">
                <label class="col-form-label clickable">{{video.name}}</label>
            </div>
        </div>
    </div>
</div>
<!-- Add videos modal -->
<div class="modal fade" id="addVideos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new video</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="videoForm" (ngSubmit)="onSubmitV()">
                <div class="modal-body">
                    <div class="form-group row justify-content-center">
                        <div class="col-md-9">
                            <label class="col-form-label">Video name</label>
                            <input type="text" formControlName="name" class="form-control" required autocomplete="name" [ngClass]="{ 'is-invalid': submitted && fv.name.errors }" autofocus (click)="error = ''">
                            <div *ngIf="submitted && fv.name.errors" class="invalid-feedback">
                                <div *ngIf="fv.name.errors.required">Video name is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="col-md-9">
                            <label class="col-form-label">URL</label>
                            <input type="url" formControlName="url" class="form-control" required autocomplete="url" [ngClass]="{ 'is-invalid': submitted && fv.url.errors }" autofocus (click)="error = ''">
                            <div *ngIf="submitted && fv.url.errors" class="invalid-feedback">
                                <div *ngIf="fv.url.errors.required">URL is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add kids modal -->
<div class="modal fade" id="addKids" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title txt" id="exampleModalLabel">Add Kids</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="kidForm" (ngSubmit)="onSubmitK()">
                <div class="modal-body">
                    <div class="form-group row justify-content-center">
                        <div class="col-md-9">
                            <label class="col-form-label">Full name</label>
                            <input type="text" formControlName="fullName" class="form-control" required autocomplete="fullName" [ngClass]="{ 'is-invalid': submitted && fk.fullName.errors }" autofocus (click)="error = ''">
                            <div *ngIf="submitted && fk.fullName.errors" class="invalid-feedback">
                                <div *ngIf="fk.fullName.errors.required">Name is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="col-md-9">
                            <label class="col-form-label">Username</label>
                            <input type="text" formControlName="username" class="form-control" required autocomplete="username" [ngClass]="{ 'is-invalid': submitted && fk.username.errors }" autofocus (click)="error = ''">
                            <div *ngIf="submitted && fk.username.errors" class="invalid-feedback">
                                <div *ngIf="fk.username.errors.required">Username is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="col-md-9">
                            <label class="col-form-label">
                                Pin 
                            <label class="col-form-label text-muted mt-1">(Pin must be six digits long)</label>
                            </label>
                            <input type="password" maxlength="6" formControlName="pin" class="form-control" required autocomplete="pin" [ngClass]="{ 'is-invalid': submitted && fk.pin.errors }" autofocus (click)="error = ''">
                            <div *ngIf="submitted && fk.pin.errors" class="invalid-feedback">
                                <div *ngIf="fk.pin.errors.required">Pin is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="col-md-9">
                            <label class="col-form-label">Age</label>
                            <input type="text" formControlName="age" class="form-control" required autocomplete="age" [ngClass]="{ 'is-invalid': submitted && fk.age.errors }" autofocus (click)="error = ''">
                            <div *ngIf="submitted && fk.age.errors" class="invalid-feedback">
                                <div *ngIf="fk.age.errors.required">Age is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>