<nav class="navbar">
    <a class="navbar-brand"></a>
    <form class="form-inline mr-5">
        <button type="button" class="btn btn-link nav-btn" (click)="kidsLogin()">Kids login</button>
    </form>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="w-100 h-50"></div>
            <div class="card" style="width: 25rem">

                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group row justify-content-center">
                            <div class="col-md-4">
                                <div class="row">
                                    <h4 class="card-title">
                                        Tubekids
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-3">
                                <div class="row">
                                    <h5 class="card-title">
                                        Sign in
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-9">
                                <label class="col-form-label">E-mail</label>
                                <input type="email" formControlName="email" class="form-control" required autocomplete="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autofocus (click)="error = ''">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">E-mail is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-9">
                                <label class="col-form-label">Password</label>
                                <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" (click)="error = ''">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-primary col-md-12">Login</button>
                                <span class="badge badge-danger" *ngIf="error">{{error}}</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <div class="row justify-content-center">
                        <label class="col-form-label">Don't have a Tubekids account?</label>
                        <button class="btn btn-link" (click)="registerVisible()">Sign up!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>