<nav class="navbar">
    <a class="navbar-brand"></a>
    <form class="form-inline mr-5">
        <button class="btn btn-link nav-btn" (click)="loginVisible()">Sign in</button>
        <button class="btn btn-link nav-btn" (click)="registerVisible()">Sign up</button>
    </form>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="w-100 h-50"></div>
            <div class="card" style="width: 25rem">

                <div class="card-body">
                    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                        <div class="form-group row justify-content-center">
                            <div class="col-md-4">
                                <div class="row">
                                    <h4 class="card-title">
                                        Tubekids
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-4">
                                <div class="row">
                                    <h5 class="card-title">
                                        Authenticate
                                    </h5>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-9">
                                <label class="col-form-label">Code</label>
                                <input type="text" maxlength="6" formControlName="code" class="form-control" required autocomplete="code" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" autofocus (click)="error = ''">
                                <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                                    <div *ngIf="f.code.errors.required">Please enter the authentication code</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row justify-content-center">
                            <div class="col-md-5">
                                <button type="submit" class="btn btn-primary col-md-12">Authenticate</button>
                                <span class="badge badge-danger" *ngIf="error">{{error}}</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>