:host {
    position: absolute;
    height: 100%;
    width: 100%;
    max-height: 1920px;
    background-size: cover;
    background-attachment: fixed;
    background-color: #2D2B38;
}

.navbar {
    background-color: #3A3846;
}

.nav-link,
.dropdown-item,
.brand,
.heading {
    color: white;
}

.dropdown-item:hover {
    color: white;
    background-color: #2D2B38;
}

.dropdown-item:focus {
    background-color: #2D2B38;
}

.dropdown-menu {
    background-color: #3A3846;
}

.logo {
    position: relative;
    height: 37px;
}

.clickable {
    cursor: pointer;
}

.delete {
    position: relative;
    left: 75.5%;
}

label {
    color: white;
}

.modal-content {
    background-color: #3A3846;
    color: white;
}

.close {
    color: white;
     :hover {
        color: white;
    }
}