<nav class="navbar navbar-expand-lg fixed-top">
    <img src="../../../favicon.ico" class="logo ml-5 clickable" (click)="home()" alt="Tubekids">
    <h4 class="brand ml-3 mb-0 clickable" (click)="home()">Tubekids</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left Side Of Navbar -->
        <ul class="navbar-nav mr-auto">

        </ul>

        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav mr-5">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.name}} {{user.lastname}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <button class="dropdown-item" (click)="refresh()">My profile</button>
                    <button class="dropdown-item" (click)="refresh()">Settings</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item btn btn-link" (click)="logout()">Logout</button>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <button class="delete btn btn-warning mt-5 mb-5" data-toggle="modal" data-target="#confirmDel">Delete kid account</button>
    <span class="badge badge-success" *ngIf="msjDel">{{msjDel}}</span>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

        <div class="form-group row justify-content-center">
            <div class="col-md-9">
                <label class="col-form-label">Kid's name</label>
                <input type="text" formControlName="name" class="form-control" required autocomplete="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-md-9">
                <label class="col-form-label">Username</label>
                <input type="text" formControlName="username" class="form-control" required autocomplete="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-md-9">
                <label class="col-form-label">Kid's age</label>
                <input type="text" formControlName="age" class="form-control" required autocomplete="age" [ngClass]="{ 'is-invalid': submitted && f.age.errors }">
                <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                    <div *ngIf="f.age.errors.required">Age is required</div>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-md-9">
                <label class="col-form-label">Pin</label>
                <input type="password" formControlName="pin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pin.errors }">
                <div *ngIf="submitted && f.pin.errors" class="invalid-feedback">
                    <div *ngIf="f.pin.errors.required">Pin is required</div>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary col-md-12">Save changes</button>
                <span class="badge badge-danger" *ngIf="error">{{error}}</span>
                <span class="badge badge-success" *ngIf="message">{{message}}</span>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="confirmDel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete account?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Woul you like to delete this account?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="delKid()" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>